.dd{
  display: flex;
  flex-direction: row;
}
.dropdown
{
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-left: 65%;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 320px; 
    height: 40px;
}
.dropdown > div
{
    margin-left: 4px;
    margin-top: 9px;
    margin-right: 2px;
    font-size: 15px;
}
.s {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
    margin-left: 5%;
    height: 40px;
    width: 255px;
  }
  

 .s option {
    background-color: #fff;
    color: #333;
  }
 .s{
    background-image: url(./arrow_drop_down_FILL0_wght400_GRAD0_opsz48.svg); 
    background-repeat: no-repeat;
    background-position: right center;
  }
.nsb
{
  width: 50px;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
}
.mn
{
  display: flex;
  flex-direction: row;
}